#display
fullscreen = false
fov = 66
star_count = 3000

#Player
walk_speed = 2.0
mouse_sensitivity = 0.07

#ship
max_speed = 5000.0
fuel_drain_rate = 0.3

#Engine
hot_reload_shaders = true
show_fps = false

#font
font_path = include/fonts/VT323.ttf
font_size = 24

camera_smooth = 18.0

camera_shake = false
fov_zoom = false